.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.error-img{
    height: 300px;
    width: 200px;
    margin: 0 auto;
}
.error-text{
    color: green;
    margin: 0 auto;
}
